* {
    margin: 0;
}

#container {
    background: linear-gradient(106.27deg, rgba(255, 255, 255, 0.5) -59.88%, rgba(102, 205, 170, 0.5) 0.26%, rgba(117, 210, 178, 0.5) 87.02%), linear-gradient(147.7deg, #226321 17.25%, #0E0D0D 81.66%);
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    /* display: flex; */
    display: fixed;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}


#navbar {
    width: 100%;
    height: 60px;
    background: #0E0D0D;
    /* mix-blend-mode: normal; */
    position: fixed;
    display: flex;
}

#navdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    /* Alter this width to give other div by its side */
}

#navdiv>a {
    /* width: 10%; */
    padding: .5%;
    margin-left: 5px;
}

#navbar>div>img {
    width: 100%;
    height: 100%;
}

#navdiv > :first-child:hover{
    background: #0E0D0D;
}

#navdiv>div>img:hover{
    background: #0E0D0D;
}

#navdiv>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Kavoon', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px ;
}



#navdiv>a:hover {
    background: seagreen;    
}

#subcontainer {
    width: 100%;
    margin-top: 60px;
    position: fixed;
    /* justify-content: flex-start; */
    /* border: 2px solid orange; */
}

#sidenav {
    /* left: 0px; */
    width: 15%;
    /* width: 300px; */
    /* margin-top: 62px; */
    background: #0E0D0D;
    position: fixed;
    height: 100vh;
    mix-blend-mode: normal;
}

#mainarea {
    width: calc(100% - 15%);
    margin-left: 15%;
    /* display: flex; */
    height: 93vh;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
}

#notify{
    margin: 1%;
    width: fit-content;
    /* height: 100px; */
}

#notify > h1{
    color: black;
    font-family: 'Kavoon',Arial, Helvetica, sans-serif;
    border-bottom: 2px double chartreuse ;
    font-weight: lighter;
}


#productdiv {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid orange; */
    justify-content: flex-start;
    /* width: 100%; */
    /* border-radius: 5px; */
    /* background:rgba(240, 255, 255, 0.1); */
    /* box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5); */
}

.product {
    width: 250px;
    height: 320px;
    text-align: center;
    /* background: linear-gradient(to top left, #006666 15%, #003366 100%); */
    /* background: #0E0D0D; */
    background: white;

    border-radius: 10px;
    margin: 2% ;
    color: #0E0D0D;
    transform: scale(1);
    transition: .2s ease;
    border: 1px solid white;

}

.product > * {
    margin: 1px;
}

.product :first-child
{
    margin: 0px;
}
.product:hover {
    cursor: pointer;
    /* height: 400px;
    width: 310px; */
    transform: scale(1.1);
    border: 1px solid #0E0D0D;
}

.product>a>img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 70%;
    /* height: 70; */
}

.product>p {
    font-family:'Eczar', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product>h2{
    font-family:'Eczar', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cartcomp{
    /* background: #FFFFFF; */
    padding: 2%;
    justify-content: center;
    margin: 2% ;
}

.product>button{
    outline: none;
    border: none;
    height: 30px;
    background-color:#0E0D0D;
    color: white;
    text-align: center;
    margin-left: 5%;
    border-radius: 5px;
}

.product>button:hover{
    outline: none;
    border: none;
    background-color: seagreen ;
    color: white;
    text-align: center;
    margin-left: 5%;
    top: 50%;
    cursor: pointer;
}
#profile > * {
    margin-bottom: 5px;
}
#profile{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 5%;
    /* border: 2px solid orange; */
}

#profile>img{
    border-radius: 50%;
    width: 60%;
}

#profile>p{
    font-family: 'Kavoon','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}

#profile>a{
    text-decoration: none;
    color: white;
    font-size:20px;
    padding: 1%;
    font-family: 'Eczar','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#profile>a:hover{
    padding: 1%;
    background: seagreen;
    border-radius: 10px;
}
.accordion {
    background-color: #0E0D0D;
    font-family: 'Eczar','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
  }
  
.active, .accordion:hover {
    background-color: seagreen; 
    color: white;
    /* font-weight: bold; */
}
  
  .panel {
    color: white;
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

#cart{
    width: calc(100% - 90%);
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#cart>p{
    color:white;
    font-size: 40px;
}
#cart>p:hover{
    color: lawngreen;
}

#cart>div{
    margin-left:-15px;
    margin-top: 10px;
    background-color: #226321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    width: auto; 
    padding: 5%;
    /* Add responsive width  */
    text-align: center;
    border-radius: 50%;
}

#searchdiv{
    /* border: 1px solid white; */
    /* margin: 0 auto; */
    margin-left:2%;
    display: flex;
    align-items: center;
    justify-content: start;
}

#searchdiv>input{
    width: calc(100% - 65% );
    outline: none;
    border: none;
    border-radius: 20px;
    height: 30px;
    background-color: skyblue;
    padding-left: 20px;
    font-size: 20px;
    transition: width .5s ease;
}

#searchdiv>input:focus{
    width: 600px;
    border: 2px solid lawngreen;
}



#searchdiv>input:hover{
    border: 2px solid lawngreen;
}


#searchdiv :nth-child(2){
    font-size: 30px;
    color: white;
}

#searchdiv :nth-child(2):hover{
    font-size: 30px;
    color: lawngreen;
    cursor: pointer;
}

